
<div class="content-carousel-banner">
    <div class="container-fluid">
        <div class="row reverse">
            <div class="col-6 total-column banner-blue">
                <div class="row">
                    <div class="col">
                        <h1 class="title"><b>{{title-1}} <br>{{title-2}}</b></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="mobile">{{description-top}}<br> {{description-bottom}}
                        </h3>
                    </div>
                </div>
                <div class="banner-footer d-flex justify-content-between">
                    
                        <div class="d-flex price-wrap">
                            <div>
                                <h1 class="price-num"><b>{{price}}</h1></b>
                            </div> 

                            <div class="d-flex flex-column time-wrap">
                                <span class="euro">{{currency}}</span>
                                <span class="time">{{for-time}}</span>
                            </div>

                        </div>
                    
                    <div class="btn-service-wrap">
                        <a href="javascript:void(0)" class="service-btn"><span class="space-middle">SCOPRI IL
                        SERVIZIO</span><img src="../assets/images/blu_arrow.png" alt="..."></a>
                    </div>
                </div>
            </div>
            <div class="col-6 total-column">
                <img class="photo" src={{image}} alt="immagine">
            </div>
        </div>
    </div>
</div>